.search-bar {
  min-width: 500px;
}
.listing-photo {
  width:200px;
  height:200px;
}

.photo-size {
  display:inline-block;
}

.landing-image {
  width: 100%;
  height: auto;
  z-index: -1;
}

.image-upload {
  display: flex;
  flex-direction: row;
}

.image-upload-single {
  display: flex;
  margin: 7px;
}

.date-wrapper {
  width: 250px;
  display: flex;
  flex-direction: row;
  margin: 9px;
}

.date-boxes {
  display: flex;
}