.search-bar {
  min-width: 500px;
}
.listing-photo {
  width:200px;
  height:200px;
}

.photo-size {
  display:inline-block;
}

.landing-image {
  width: 100%;
  height: auto;
  z-index: -1;
}

.image-upload {
  display: flex;
  flex-direction: row;
}

.image-upload-single {
  display: flex;
  margin: 7px;
}

.date-wrapper {
  width: 250px;
  display: flex;
  flex-direction: row;
  margin: 9px;
  padding-bottom: 7px;
  border-style: solid;
  border-width: 1px;
  border-radius: 5px;
  border-color: #1385E5;
}

.date-boxes {
  display: flex;
}

.search-results {
  display: flex;
  flex-direction: row;
}

.search-result-item {
  display: flex;
  max-width: 120px;
}

.search-image {
  width: 75px;
  height: auto;
}